.title-large {
  font-size: var(--font-40);
  font-weight: 500;
  line-height: 4rem;
}

.title-medium {
  font-size: var(--font-32);
  font-weight: 500;
  line-height: 4rem;
}

.title-small {
  margin: 2rem 0;
  font-size: var(--font-20);
  font-weight: 300;
  color: var(--secondary-font);
  line-height: 3rem;
}

.text-main {
  margin-bottom: 1.5rem;
  line-height: 1.8;
  color: var(--secondary-font);
}

