h1 {
  font-size: var(--font-40);
  font-weight: 500;
  line-height: 3rem;
}

h2 {
  margin: 1rem 0;
  font-size: var(--font-20);
  font-weight: 300;
  color: var(--secondary-font);
  line-height: 3rem;
}
