@use './base/' as *;
@use './utilities/' as *;
@use './components/' as *;
@use './layout/' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins';
  font-size: var(--font-16);
  background-color: var(--main-bg);
}
