---
import Navigation from "../components/Navigation.tsx";
import "../styles/global.css";
---

<html lang="cs">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
  </head>
  <body>
    <Navigation client:load/>
    <main class="mx-auto flex h-full max-w-3xl">
      <slot />
    </main>
  </body>
</html>
