@keyframes slideFromTop {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
