:root {
  // Color pallete - shades (to use maybe)
  --shade-1: #b9babc;
  --shade-2: #87888a;
  --shade-3: #58595b;
  --shade-4: #2d2e2f;

  // Colors
  --main-bg: #eeeff1;
  --secondary-bg: #000;
  --ternary-bg: #0b0c0f;
  --basic--font: #000;
  --main-font: #fff;
  --secondary-font: #58595b;
  --ternary-font: #0b0c0f;

  --yellow: #dda11d;

  // Fonts
  --font-16: 1rem;
  --font-20: 1.25rem;
  --font-28: 1.75rem;
  --font-32: 2rem;
  --font-40: 2.5rem;
  --font-48: 3rem;
  --font-60: 3.75rem;
  --font-64: 4rem;

  --br-750: 46.875em;
}

