.button,
.cta {
  padding: 1em 1.5em;
  background-color: var(--secondary-bg);
  border-radius: 10px;
  // color: var(--main-font);
  color: var(--yellow);
  font-weight: 500;
  width: fit-content;

  a {
    // color: var(--main-font);
    color: var(--yellow);
    line-height: 20px;
  }
}

.button {
  margin: 1rem 0;
}

.cta {
  font-size: var(--font-16);
}

button {
  font-family: 'Poppins';
  font-size: var(--font-16);
  color: var(--yellow);
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 48em) {
  .button {
    font-size: var(--font-20);
  }
}

