.nav__menu {
  .nav__menu--mobile {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    transform: translateX(100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all 0.5s ease-in-out;
    background-color: var(--main-bg);

    .nav__menu--item {
      margin-bottom: 3rem;
      text-align: right;
    }
  }

  .nav__menu--mobile.open {
    transform: translateX(0);
  }
}

