.about {
  padding-top: 5rem;
  overflow-x: hidden;
  margin-bottom: 1rem;
  // &__title {
  //   opacity: 1;
  //   // transform: translateX(-50px);
  // }

  // &__desc {
  // opacity: 0;
  // transform: translateX(-50px);
  // }

  .about__title--small {
    display: flex;
    align-items: center;

    .title-small {
      margin-left: 0.5rem;
      font-weight: 400;
      color: #000;
    }
  }

  &__desc--uses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, max-content));
    gap: 1rem;
    margin-bottom: 2rem;
  }
}

