footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 10rem;
  background-color: var(--secondary-bg);
  margin-top: 1rem;

  svg {
    fill: var(--main-bg);
  }
  .text-main {
    color: var(--main-font);
  }
}

