@use '../utilities/mixins.scss' as *;

.hero {
  @include slideFromBottomAnimation;
  min-height: 100vh;
  display: grid;
  place-items: center;

  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      font-size: var(--font-40);
      line-height: 4rem;
    }
  }
}

