---
import ProjectsList from "../ProjectsList";
---

<section class="bg-background-secondary py-16 md:py-32">
  <div class="mx-auto flex max-w-sm flex-col px-4 sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-7xl xl:px-8">
    <h2 class="xs:text-3xl m-0 pb-16 text-center text-4xl font-semibold md:text-5xl" data-slide-up>
      Moje poslední práce
    </h2>
    <div class="projects">
      <ProjectsList />
    </div>
  </div>
</section>
