---
import ServicesList from "../ServicesList";
---

<section class="py-16">
  <div class="container flex flex-col py-8 text-center">
    <h2 class="xs:text-3xl m-0 text-4xl font-semibold md:text-5xl" data-slide-up>Jaké služby nabízím</h2>

    <p class="mx-auto mt-2 max-w-xl text-lg leading-relaxed text-zinc-500" data-slide-up>
      Komplexní řešení pro váš online úspěch
    </p>
  </div>
  <ServicesList />
</section>
